<IfModule mod_rewrite.c>
    RewriteEngine On

    # Permite abrir archivos y carpetas que sí existen.
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Las URLs de la aplicación pasan por el front controller para ser enrutadas.
    RewriteRule ^ index.php [QSA,L]
</IfModule>

